# PostgreSQL (App 1 - Cursos)
POSTGRES_USER=edutech_user
POSTGRES_PASSWORD=edutech_pass_2024
POSTGRES_DB=edutech_cursos

# Redis
REDIS_URL=redis://redis:6379

# RabbitMQ (App 3 - Notificaciones)
RABBITMQ_USER=edutech_rmq
RABBITMQ_PASSWORD=rmq_pass_2024

# MongoDB (App 2 - Evaluaciones local)
MONGO_USER=edutech_mongo
MONGO_PASSWORD=mongo_pass_2024
MONGO_DB=edutech_evaluaciones

# MySQL (App 3 - Notificaciones)
MYSQL_ROOT_PASSWORD=root_pass_2024
MYSQL_USER=notif_user
MYSQL_PASSWORD=notif_pass_2024
MYSQL_DB=edutech_notificaciones

# JWT
JWT_SECRET=super_secret_jwt_key_change_in_production_2024

# SendGrid (App 3 - Notificaciones)
SENDGRID_API_KEY=SG.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FROM_EMAIL=noreply@edutech.com

# AWS (App 2 - Lambdas)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
MONGO_ATLAS_URI=mongodb+srv://user:pass@cluster.mongodb.net/evaluaciones

# Grafana
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=admin123

# App URLs
NEXT_PUBLIC_API_GATEWAY_URL=http://localhost:8080
